        body {background-color: #DFF6FF;}
        hr {border-color:grey; border-style:dotted none none; background-color: none;height: 0px; width: 10%; border-width: 8px;}
        h1 {color: #66BFBF;}
        h3 {color: #66BFBF;}
